
  <mat-list class="list-container">
    <ng-container *ngFor="let item of dataSource">
      <mat-list-item>
          <span matListItemTitle>{{ item.name }}</span>
          <span matListItemLine>URI: {{ item.resourceURI }}</span>
      </mat-list-item>
    </ng-container>
  </mat-list>
  
  <mat-paginator
    #paginator
    class="paginator"
    (page)="handlePageEvent($event)"
    [length]="listItens.length"
    [pageSize]="pageSize"
    [hidePageSize]="true"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
