<app-header></app-header>

<main>
    
  @if (loading$ | async) {

  <app-loader *ngIf="loading$ | async"></app-loader>

  }@else if (error$ | async) {

  <app-generic-error *ngIf="error$ | async"></app-generic-error>

  } @else {

  <div *ngIf="!(loading$ | async) && !(error$ | async)" class="home-container">
    <div class="row">
      <div>
        <h1>Bem-vindo ao Marvel Searcher!</h1>
        <p>Confira dados incriveis do seu heroi Marvel favorito!</p>
      </div>
      <div class="mt-20">
        <app-searcher></app-searcher>
      </div>
      <button (click)="getCharacters()">teste api</button>
    </div>
  </div>
  }

</main>

<footer class="home-footer">
  <p>&copy;2024 Vitor Campos</p>
</footer>
