<app-searcher></app-searcher>

<div>
  @if (loading$ | async) {

  <app-loader *ngIf="loading$ | async"></app-loader>

  }@else if (error$ | async) {

  <app-generic-error *ngIf="error$ | async"></app-generic-error>

  } @else {

  <div *ngIf="!(loading$ | async) && !(error$ | async)" class="home-container">
    
    @if((searchResult$ | async) == null) {

    <app-welcome-card></app-welcome-card>

    }@else {
      <app-search-details [information$]="searchResult$"></app-search-details>
    }
  </div>
  }
</div>

