<app-searcher></app-searcher>

<div>
  @if (loading$ | async) {

  <app-loader></app-loader>

  }@else if (error$ | async) {

  <app-generic-error></app-generic-error>

  } @else {

  <div class="home-container">
    
    @if((searchResult$ | async) === null) {

    <app-welcome-card></app-welcome-card>

    }@else if((character$ | async) != null) {

    <app-search-details class="home-deatails-container" [information$]="character$"></app-search-details>
    
    } @else {

    <app-result-list class="results-container" [isFromHistoric]="false"></app-result-list>

    }
  </div>
  }
</div>
