<app-header></app-header>

<app-searcher></app-searcher>

<main>
  @if (loading$ | async) {

  <app-loader *ngIf="loading$ | async"></app-loader>

  }@else if (error$ | async) {

  <app-generic-error *ngIf="error$ | async"></app-generic-error>

  } @else {

  <div *ngIf="!(loading$ | async) && !(error$ | async)" class="home-container">
    
    @if((searchResult$ | async)?.length == null) {

    <app-welcome-card></app-welcome-card>

    }@else {

    <ng-container *ngIf="searchResult$ | async as searchResult">
      <app-search-details [data]="searchResult[0]"></app-search-details>
    </ng-container>
    
    }
  </div>
  }
</main>

<app-footer></app-footer>

