.searcher-container {
  width: 100%;
  border-bottom: 1px solid #adadad;
  display: flex;
  justify-content: center;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  padding: 5px 10px 0px 10px;
}

.__full-width {
  width: 100%;
}
