.searcher-container {
  border-bottom: 1px solid #adadad;
  display: flex;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
}

.__full-width {
  width: 100%;
}
