<div class="details-container" *ngIf="information$ | async as information">
  <div class="details-card">
    <mat-card [appearance]="'outlined'">

      <mat-card-header>
        <mat-card-title>{{ information.name }}</mat-card-title>
        <mat-card-subtitle>id: {{ information.id }}</mat-card-subtitle>
      </mat-card-header>

      <img
        class="details-image"
        mat-card-image
        [src]="
          information.thumbnail.path + '.' + information.thumbnail.extension
        "
        alt="{{ information.name }} foto"
      />

      <mat-card-content>
        <div>
          <h3>Description</h3>
          <p>{{ information.description }}</p>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

  <mat-tab-group class="details-list">
    <mat-tab label="Comics">
      <app-list-itens
        [listItens]="information.comics.items"
        title="Comics"
      ></app-list-itens>
    </mat-tab>
    <mat-tab label="Series">
      <app-list-itens
        [listItens]="information.series.items"
        title="Series"
      ></app-list-itens>
    </mat-tab>
    <mat-tab label="Stories">
      <app-list-itens
        [listItens]="information.stories.items"
        title="Stories"
      ></app-list-itens>
    </mat-tab>
    <mat-tab label="Events">
      <app-list-itens
        [listItens]="information.events.items"
        title="Events"
      ></app-list-itens>
    </mat-tab>
    <div></div
  ></mat-tab-group>
</div>
