

.details-image {
    width: 100%;
    height: 300px;
}

.details-container {
    margin: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.details-card{
    width: 30%;
    @media only screen and (max-width: 600px) {
        width: 100%!important;
    }
}

.details-list {
    display: flex;
    padding: 20px;
    width: 70%;
    @media only screen and (max-width: 600px) {
        width: 100%!important;
        padding: 0px!important;
    }
}

.details-image{
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

