.error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    width: 400px;

    h2{
        font-weight: bolder;
    }

    .icon{
        margin-bottom: 25px;
    }

    p{margin-bottom: 25px;}
}